/vendor/

.phpunit.result.cache
.phpunit.cache
.phpunit.temp

# PHPStorm
/.idea/*
!/.idea/vcs.xml
!/.idea/codeception.xml
!/.idea/modules.xml
!/.idea/phpunit.xml
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
